<h2>Filters Cheatsheet</h2>

<dl id="filters-help">
    <dt>Embed audio</dt>
    <dd><code>[[ embed::URL_OF_MEDIA||embed:html5audio]]</code></dd>

    <dt>Embed video</dt>
    <dd><code>[[ embed::URL_OF_MEDIA||embed:html5video]]</code></dd>

    <dt>Embed image</dt>
    <dd><code>[[ embed::URL_OF_MEDIA||embed:img]]</code></dd>

    <dt>Black and white image</dt>
    <dd><code>[[ embed::URL_OF_MEDIA||bw|embed:img]]</code></dd>

    <dt>Resize image</dt>
    <dd><code>[[ embed::URL_OF_MEDIA||resize:_WIDTH-IN-PIXELS_|embed:img]]</code></dd>
    <dd>ex. <code>[[ embed::URL_OF_MEDIA||resize:300px|embed:img]]</code></dd>

    <dt>Crop image</dt>
    <dd><code>[[ embed::URL_OF_MEDIA||crop:_WIDTH_x_HEIGHT_+_X_+_Y_|embed:img]]</code></dd>
    <dd>ex. <code>[[ embed::URL_OF_MEDIA||crop:400x300+0+0|embed:img]]</code></dd>

    <dt>Zoomable image (¡ do not add "embed:img" at the end !)</dt>
    <dd><code>[[ embed::URL_OF_MEDIA||zoomable:_DISPLAY-SIZE_]]</code></dd>
    <dd><code>[[ embed::URL_OF_MEDIA||zoomable:300px]]</code></dd>

    <dt>Lightbox (open image in fullscreen) (¡ do not add "embed:img" at the end !)</dt>
    <dd><code>[[ embed::URL_OF_MEDIA||lightbox:_THUMBNAIL-SIZE_]]</code></dd>
    <dd>ex. <code>[[ embed::URL_OF_MEDIA||lightbox:300px]]</code></dd>
</dl>
