<script>
    $(document).ready(function(){
        $("nav#east-pane #tabs-1 h3").toggle(
            function(){
                $(this).next().show();
            },function(){
                $(this).next().hide();
        });
    });
</script>

<h2>Syntax Cheatsheet</h2>

<h3><a href="#">Phrase Emphasis</a></h3>
<div>
    <pre><code>*italic*   **bold**
    _italic_   __bold__
    </code></pre>
</div>

<h3><a href="#">Links</a></h3>
<div>

    <p>Inline:</p>

    <pre><code>An [example](http://url.com/ "Title")
    </code></pre>

    <p>Reference-style labels (titles are optional):</p>

    <pre><code>An [example][id]. Then, anywhere
    else in the doc, define the link:

      [id]: http://example.com/  "Title"
    </code></pre>
</div>

<h3><a href="#">Images</a></h3>
<div>

    <p>Inline (titles are optional):</p>

    <pre><code>![alt text](/path/img.jpg "Title")
    </code></pre>

    <p>Reference-style:</p>

    <pre><code>![alt text][id]

    [id]: /url/to/img.jpg "Title"
    </code></pre>
</div>

<h3><a href="#">Headers</a></h3>
<div>

    <p>Setext-style:</p>

    <pre><code>Header 1
    ========

    Header 2
    --------
    </code></pre>

    <p>atx-style (closing #'s are optional):</p>

    <pre><code># Header 1 #

    ## Header 2 ##

    ###### Header 6
    </code></pre>
</div>

<h3><a href="#">Lists</a></h3>
<div>

    <p>Ordered, without paragraphs:</p>

    <pre><code>1.  Foo
    2.  Bar
    </code></pre>

    <p>Unordered, with paragraphs:</p>

    <pre><code>*   A list item.

        With multiple paragraphs.

    *   Bar
    </code></pre>

    <p>You can nest them:</p>

    <pre><code>*   Abacus
        * answer
    *   Bubbles
        1.  bunk
        2.  bupkis
            * BELITTLER
        3. burper
    *   Cunning
    </code></pre>
</div>

<h3><a href="#">Blockquotes</a></h3>
<div>

    <pre><code>&gt; Email-style angle brackets
    &gt; are used for blockquotes.

    &gt; &gt; And, they can be nested.

    &gt; #### Headers in blockquotes
    &gt; 
    &gt; * You can quote a list.
    &gt; * Etc.
    </code></pre>
</div>

<h3><a href="#">Code Spans</a></h3>
<div>

    <pre><code>`&lt;code&gt;` spans are delimited
    by backticks.

    You can include literal backticks
    like `` `this` ``.
    </code></pre>
</div>

<h3><a href="#">Preformatted Code Blocks</a></h3>
<div>

    <p>Indent every line of a code block by at least 4 spaces or 1 tab.</p>

    <pre><code>This is a normal paragraph.

        This is a preformatted
        code block.
    </code></pre>
</div>

<h3><a href="#">Horizontal Rules</a></h3>
<div>

    <p>Three or more dashes or asterisks:</p>

    <pre><code>---

    * * *

    - - - - 
    </code></pre>
</div>

<h3><a href="#">Manual Line Breaks</a></h3>
<div>

    <p>End a line with two or more spaces:</p>

    <pre><code>Roses are red,   
    Violets are blue.
    </code></pre>
</div>
