{% load aacoretags %}


{% get_markdown_for content as md meta %}


<nav id="sidebar" class="ui-layout-west" style="display: none; text-align: left;"> 
    <div id="login">
        {% if user.is_authenticated %}
            <a title="Logout" href="{% url aa-logout %}">Logout</a>
        {% else %}
            <a title="Login" href="{% url aa-login %}">Login</a>
        {% endif %}
    <div>
    <!--<h1 class="logo">-->
        <!--[><a title="Back to main page" href="{% url aa-index %}"><]-->
            <!--[><span>O</span><span>r</span><span>a</span><span>l</span><span>S</span><span>i</span><span>t</span><span>e</span><]-->
        <!--[></a><]-->
        <!--<a title="Back to main page" href="{% url aa-index %}">-->
            <!--Oralsite-->
        <!--</a>-->
    <!--</h1>-->
    <!--<p><a title="About Oral Site" href="{% url aa-page-detail 'Oral_Site' %}">About</a></p>-->
    <!--<hr>-->
        <ul id="toolbar">
            {% if page %}
                {% if user.is_authenticated %}
                    <li><a title="edit" href="{{ page.get_edit_url }}">Edit</a></li>
                    <li><a title="history" href="{{ page.get_history_url }}">History</a></li>
                    <li><a title="add" href="#">Add</a></li>
                    <li><a title="commit" href="#">Save</a></li>
                {% else %}
                    <li><a title="Login" href="{% url aa-login %}">Login</a></li>
                {% endif %}
            {% endif %}
        </ul>
        <header>
            <hgroup>
                {% if meta.title %}
                    <h1>{{ meta.title|first }}</h1>
                {% else %}
                    <h1>{{ page.name }}</h1>
                {% endif %}
                {% if meta.subtitle %}
                    <h2>{{ meta.subtitle|first }}</h2>
                {% endif %}
            </hgroup>

            {% if meta.ispartof %}
            <p>This page is part of the publication{{ meta.ispartof|pluralize }} {{ meta.ispartof|join:"," }}.</p>
            {% endif %}
        </header>
    <hr>
    <!--<div class="ui-layout-content">-->
    <div id="tab-this">
        <ul id="aa-tabs">
            <li><a title="About" href="#tab-about">Intro</a></li>
            <li><a title="Layers" href="#tab-layers">Table of Contents</a></li>
            {% if user.is_authenticated %}
                <li><a title="Styles" href="#tab-styles">Styles</a></li>
                <li><a title="Help" href="#tab-help">Help</a></li>
            {% endif %}
            <li><a title="Browser" href="#tab-browse">Browse</a></li>
        </ul>


        <div id="tab-about" class="aa-tab">
            {% if meta.authors %}
                <ul>{% for author in meta.authors %}<li>{{ author }}</li>{% endfor %}</ul>
            {% endif %}
            {% for summary in meta.summary %}
                {% get_markdown_for summary as md meta %}
                {{ md|safe }}
            {% endfor %}
        </div>

        <div id="tab-layers" class="aa-tab"></div>

        {% if user.is_authenticated %}
            <div id="tab-styles" class="aa-tab">
                {% include "aacore/partials/swatches.html" %}
            </div>

            <div id="tab-help" class="aa-tab">
                <script>
                    $(document).ready(function(){
                        // SHOW/HIDE help chapters
                        $("#tab-help h2").toggle(
                            function(){
                                $(this).next().show();
                            },function(){
                                $(this).next().hide();
                        });
                        $("#tab-help h3").toggle(
                            function(){
                                $(this).next().show();
                            },function(){
                                $(this).next().hide();
                        });
                    });
                </script>
                <h2>LINKS</h2>
                <dl>
                    <dt>Internal link</dt>
                    <dd><code>[[ Name of the page ]]</code></dd>
                    <dd><code>[[ Name of the page | Title ]]</code></dd>
                    <dt>External link</dt>
                    <dd><code>[[ URL of the link ]]</code></dd>
                    <dd><code>[[ URL of the link | Title ]]</code></dd>
                    <dt>Link inside the page</dt>
                    <dd><code>[[ #ID-OF-THE-ELEMENT ]]</code></dd>
                    <dt>Landmarks</dt>
                    <dd><code>[[ landmark::#|Title of the landmark ]]</code></dd>
                </dl>
                {% include "aacore/partials/timecode_help.html" %}
                {% include "aacore/partials/filters_help.html" %}
                {% include "aacore/partials/markdown_help.html" %}
            </div>
        {% endif %}

        <div id="tab-browse">
            <iframe id="browser-panel"></iframe>
        </div>
    </div>
</nav>
