<h2>Shortcuts Cheatsheet</h2>

<dl id="timecode-help">
    <dt><code><span>Ctrl</span> <span>Shift</span> <span>&uarr;</span></code><dt>
    <dd>Play/Pause</dd>
    <dt><code><span>Ctrl</span> <span> Shift</span> <span> &darr;</span></code></dt>
    <dd>Paste Timecode</dd>
    <dt><code><span>Ctrl</span> <span>Shift</span> <span>&larr;</span></code></dt>
    <dd>&minus; 5 seconds</dd>
    <dt><code><span>Ctrl</span> <span>Shift</span> <span>&rarr;</span></code></dt>
    <dd>+ 5 seconds</dd>
</dl>
