<h2>Shortcuts Cheatsheet</h2>

<div>
<p>Active archives wiki provides a set of four shortcuts to help annotating ressources</p>

<dl id="timecode-help">
    <dt><code>Ctrl</code> + <code>Shift</code> + <code>&uarr;</code><dt>
    <dd>Play/Pause</dd>
    <dt><code>Ctrl</code> <code> Shift</code> <code> &darr;</code></dt>
    <dd>Paste Timecode</dd>
    <dt><code>Ctrl</code> <code>Shift</code> <code>&larr;</code></dt>
    <dd>&minus; 5 seconds</dd>
    <dt><code>Ctrl</code> <code>Shift</code> <code>&rarr;</code></dt>
    <dd>+ 5 seconds</dd>
</dl>
</div>
