@font-face {
    font-family: 'LiberationSans';
    src: url('/static/lib/fonts/LiberationSans-Regular-webfont.eot');
    src: url('/static/lib/fonts/LiberationSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/lib/fonts/LiberationSans-Regular-webfont.woff') format('woff'),
         url('/static/lib/fonts/LiberationSans-Regular-webfont.ttf') format('truetype'),
         url('/static/lib/fonts/LiberationSans-Regular-webfont.svg#LiberationSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LiberationSans';
    src: url('/static/lib/fonts/LiberationSans-Italic-webfont.eot');
    src: url('/static/lib/fonts/LiberationSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/lib/fonts/LiberationSans-Italic-webfont.woff') format('woff'),
         url('/static/lib/fonts/LiberationSans-Italic-webfont.ttf') format('truetype'),
         url('/static/lib/fonts/LiberationSans-Italic-webfont.svg#LiberationSansItalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'LiberationSans';
    src: url('/static/lib/fonts/LiberationSans-Bold-webfont.eot');
    src: url('/static/lib/fonts/LiberationSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/lib/fonts/LiberationSans-Bold-webfont.woff') format('woff'),
         url('/static/lib/fonts/LiberationSans-Bold-webfont.ttf') format('truetype'),
         url('/static/lib/fonts/LiberationSans-Bold-webfont.svg#LiberationSansBold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'LiberationSans';
    src: url('/static/lib/fonts/LiberationSans-BoldItalic-webfont.eot');
    src: url('/static/lib/fonts/LiberationSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/lib/fonts/LiberationSans-BoldItalic-webfont.woff') format('woff'),
         url('/static/lib/fonts/LiberationSans-BoldItalic-webfont.ttf') format('truetype'),
         url('/static/lib/fonts/LiberationSans-BoldItalic-webfont.svg#LiberationSansBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;

}

body {
    font-family: "LiberationSans", Helvetica, Arial, Sans;
    letter-spacing: 0.5px;
}
article {
    background-color: white;
}

a {
    color: inherit;
}
