{% extends "aacore/base.html" %}
{% load aacoretags %}

{% block body %}
<div about="{{about_url}}" id="minipage">
<a href="{%url aa-browse %}?uri={{about_url|urlencode}}" class="backlink">{{about_url}}</a>

<table>
<tr>
<td valign="top">
    <img src="{{photo.small_still_url}}" />
    <a rel="foaf:thumbnail" href="{{photo.small_still_url}}"></a>

    <div>
    Available sizes:<ul>
        {% for size in photo.get_sizes %}
        <li><a rel="dc:relation" href="{{ size.source }}">
            {{size.label}}
            <span property="dc:type" content="Image"></span>
            (<span property="aa:width">{{size.width}}</span>&#x00D7;<span property="aa:height">{{size.height}}</span>)</a>
        </li>
        {% endfor %}
        </ul>
    </div>
</td>
<td valign="top">
    <h2 property="dc:title">{{photo.title}}</h2>
    <p property="dc:description">{{photo.description|safe}}</p>
    <dl>
        <dt>Flickr page</dt>
        <dd><a href="{{photo.page_url}}">{{photo.page_url}}</a></dd>

        <dt>Original (may or may not be publically available)</dt>
        <dd><a rel="dc:source" href="{{photo.original_url}}">{{photo.original_url}}</a></dd>

        <dt>Reference</dt>
        <dd><span property="aa:reference">flickr:{{photo.flickrid}}</span></dd>

        <dt>Date</dt>
        <dd><span property="dc:date" content="{{photo.date_taken|iso8601_date}}">{{photo.date_taken}}</span></dd>
        <dt>Posted by</dt>
        <dd><a rel="dc:creator" href="{{photo.owner.profile_url}}">{{photo.owner.username}}</a></dd>
        <dt>License</dt>
        <dd>
            {%if photo.license.url%}
                <a rel="dc:license" href="{{photo.license.url}}">{{photo.license.name}}</a>
            {% else %}
                {{photo.license.name}}
            {% endif %}
        </dd>

        <dt class="tags">Tags</dt>    
        <dd class="tags">
            <ul>
            {% for tag in photo.phototags.all %}<li><a rel="foaf:topic" href="{{tag.tag.get_full_url}}"><span about="{{about_url}}" property="dc:subject">{{tag.raw}}</span></a></li>{% endfor %}
            </ul>
        </dd>

        <dt class="exif">Exif</dt>
        <dd>
        {% if exif %}
            <dl>
            {% for bundle in exif %}
                <dt>{{bundle.tagspace}} {{bundle.label}}</dt><dd>{{bundle.content}}</dd>
            {% endfor %}
            </dl>
        {% else %}
        <a href="?exif=1">click to view exif tags</a>
        {% endif %}
        </dd>

    </dl>


</td>
</tr>
</table>
</div>
{% endblock %}

