<!DOCTYPE HTML>
<html>
<head>
{% block head %}
<meta charset="utf-8" />
<title>{%block title%}active archives{%endblock%}</title>

{% block jquery %}
<script src="{{ STATIC_URL }}lib/jquery/jquery.js"></script>
<script src="{{ STATIC_URL }}lib/jquery/jquery-ui.js"></script>    
<script src="{{ STATIC_URL }}lib/jquery.djangocsrf.js"></script>    
<link rel="stylesheet" href="{{ STATIC_URL }}lib/jquery/jquery-ui.css" type="text/css"/>
{% endblock jquery %}

<link rel="stylesheet" href="{{ STATIC_URL }}aacore/css/aa.styles.css" type="text/css"/>

<style type="text/css" media="screen">
    body {
        font-family: "LiberationSans" serif;
        font-weight: bold;
        letter-spacing: 0.5px;
    }
    nav {
        text-align: right;
    }   
    nav ul li {
        display: inline;
    }   
    nav ul li:before {
        content: " | ";
    }   
    nav ul li:first-child:before {
        content: "";
    }   
</style>

{% block extrahead %}{% endblock %}

{% endblock head %}
</head>

<body>
{% block body %}{% endblock body %} 
</body>
</html>

