{% extends "aardf/base.html" %}
{% load aardftags %}

{% block title %}rdf: browse{% endblock %}

{%block head %}
<script type="text/javascript" language="javascript" charset="utf-8">
    window.onload = function () { document.getElementById("uri").focus() }
</script>
{% endblock %}

{%block body %}
<div id="query">
<form method="post" action="">{% csrf_token %}
<div>
    <input name="uri" id="uri" style="width: 100%;" value="{{uri}}" />
</div>
<input type="submit" name="_submit" value="BROWSE" />
</form>
</div>

<div id="results">

{% if results_as_subject.get_bindings_count %}
<h2>as subject</h2>
<table>
{% regroup results_as_subject by relation as grouped %}
{% for relation in grouped %}<tr><td>{{ relation.grouper|rdfnode }}</td><td><ul>{% for item in relation.list %}<li>{{ item.object|rdfnode}}</li>{%endfor%}</ul></td></tr>
{%endfor%}
</table>
{% endif %}

{% if results_as_relation.get_bindings_count %}
<h2>as relation</h2>
<table>
{% regroup results_as_relation by subject as grouped %}
{% for subject in grouped %}<tr><td>{{ subject.grouper|rdfnode }}</td><td><ul>{% for item in subject.list %}<li>{{ item.object|rdfnode}}</li>{%endfor%}</ul></td></tr>
{%endfor%}
</table>
{% endif %}

{% if results_as_object.get_bindings_count %}
<h2>as object</h2>
<table>
{% regroup results_as_object by relation as grouped %}
{% for relation in grouped %}<tr><td>{{ relation.grouper|rdfnode }}</td><td><ul>{% for item in relation.list %}<li>{{ item.subject|rdfnode}}</li>{%endfor%}</ul></td></tr>
{%endfor%}
</table>
{% endif %}

</div>
{%endblock %}


