<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
          "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">			 
<html>
<head>
<title>{% block title %}active archives: import{% endblock %}</title>
<style type="text/css" media="screen">
div.image {
    padding: 10px;
    border: 5px solid black;
    width: 160px;
    height: 160px;
    overflow: crop;
    float: left;
}
div.image img {}
div.image span.imagename {
    font-size: 10px;
}
</style>
<script type="text/javascript" language="javascript" charset="utf-8" src="{{MEDIA_URL}}lib/jquery/jquery.js"></script>
<script type="text/javascript" language="javascript" charset="utf-8">
$(function () {

$("#togglelinks").click(function () {
    var curstate = $("div.link input[type=checkbox]").prop("checked");
    $("div.links input[type=checkbox]").prop("checked", !curstate);
    return false;
});

$("#toggleimages").click(function () {
    var curstate = $("div.image input[type=checkbox]").prop("checked");
    $("div.image input[type=checkbox]").prop("checked", !curstate);
    return false;
});

});
</script>
</head>
<body>
<form method="post" action="">{% csrf_token %}
<div>
<input type="text" style="width: 100%; border: 1px solid black" name="url" value="{{url}}" />
</div>
<div>
<input type="submit" name="_submit" value="ok" />
</div>

{% if url %}
<div class="link">
    <input type="checkbox" name="importurl" value="{{url}}" />
    <a href="{{url}}">{{url}}</a>
</div>
{% endif %}

{% if spider %}

{% if spider.links %}
<div class="links">
<h2>Links</h2>
<div><a href="#" id="togglelinks">toggle</a></div>
{% for link in spider.links %}
    <div class="link">
        <input type="checkbox" name="importurl" value="{{link}}" />
        <a href="{{link}}">{{link}}</a>
    </div>
{% endfor%}
</div>
{% endif %}

{% if spider.images %}
<div class="images">
<h2>Images</h2>
<div><a href="#" id="toggleimages">toggle</a></div>
{% for img in spider.images %}
    <div class="image">
        <input type="checkbox" name="importurl" value="{{img}}" />
        <img src="{{img}}" />
        <span class="imagename">{{img}}</span>
    </div>
{% endfor%}
</div>
{% endif %}

<p style="clear: both">
    <input type="submit" name="_submit" value="import" />
</p>
{% endif %}

</form>
</body>
</html>

