{% extends "aacore/base.html" %}

{% block extrahead %}
<!-- Page specific javascript -->
<!-- z-index + visibility -->
<script src="{{ STATIC_URL }}aacore/js/jquery.sort_by_zindex.js"></script>   
<script src="{{ STATIC_URL }}aacore/js/jquery.aalayers.js"></script>   

<script> 
$(document).ready(function() {
    var layout = $('body').layout({applyDefaultStyles: false});
    layout.close("west");
    layout.close("east");
    $("nav#east-pane").tabs();
});
</script> 

<script>
    var page = "{{ page }}";
</script>
<script src="{{ STATIC_URL }}lib/jquery.jeditable.mini.js"></script>
<script src="{{ STATIC_URL }}aacore/js/jquery.timeline.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}aacore/js/jquery.ui.autoscrollable.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}aacore/js/jquery.ui.playlist.js"></script>
<script src="{{ STATIC_URL }}aacore/js/aa.view.js"></script>

{% for css in extra_css %}
<link rel="stylesheet" href="{{ css }}" type="text/css" media="screen" charset="utf-8">
{% endfor %}
{% endblock %}


{% block body %}
<nav id="toolbar">
    <ul>
        {% if page %}
        <li><a href="{% url aa-page-edit slug=page.name %}">edit</a></li>
        <li><a href="">view history</a></li>
        {% endif %}
    </ul>
</nav>

<article>
    {{ content|safe }}
</article>
{% endblock %}

{% block postbody %}
<nav id="east-pane" class="ui-layout-east" style="text-align: left;"> 
	<ul>
		<li><a href="#tabs-1">Cheatsheet</a></li>
		<li><a href="#tabs-2">Palette</a></li>
	</ul>
	<div id="tabs-1">
        {% include "aacore/partials/markdown_help.html" %}
	</div>
	<div id="tabs-2">
	</div>
</nav>
{% endblock %}
