{% extends "aacore/base.html" %}

{% block extrahead %}
{% if geometry %}
<!-- Annotation geometry -->
<script>
    window.geometry = {{ geometry|safe }};
</script>
{% endif %}
<!-- Page specific javascript -->
<!-- Annotation geometry -->
<script>
    var page = "{{ page }}";
</script>
<script src="{{ STATIC_URL }}lib/jquery.jeditable.mini.js"></script>
<script src="{{ STATIC_URL }}aacore/js/jquery.timeline.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}aacore/js/jquery.ui.autoscrollable.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}aacore/js/jquery.ui.playlist.js"></script>
<script src="{{ STATIC_URL }}aacore/js/aa.view.js"></script>
<script src="{{ STATIC_URL }}lib/shortcut.js"></script>   
<script src="{{ STATIC_URL }}aacore/js/jquery.caret.js"></script>   
{% endblock %}


{% block body %}
<nav>
    <ul>
        {% if page %}
        <li><a href="{% url aa-page-edit slug=page.name %}">edit</a></li>
        <li><a href="">view history</a></li>
        {% endif %}
    </ul>
</nav>

<article>
    {{ content|safe }}
</article>
{% endblock %}
