{% extends "aacore/base.html" %}

{% block extrahead %}
<!-- Page specific javascript -->
<!-- z-index + visibility -->
<script src="{{ STATIC_URL }}aacore/js/jquery.sort_by_zindex.js"></script>   
<script src="{{ STATIC_URL }}aacore/js/jquery.aalayers.js"></script>   

<script> 
$(document).ready(function() {
    $('body').layout({
        applyDefaultStyles: false,
        enableCursorHotkey: false,
        east__size: 250,
    });

    $("nav#east-pane").tabs();
});
</script> 

<script src="{{ STATIC_URL }}lib/jquery.slideToggleMinHeight.min.js"></script>
<script src="{{ STATIC_URL }}lib/jquery.jeditable.mini.js"></script>
<script src="{{ STATIC_URL }}aacore/js/jquery.timeline.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}aacore/js/jquery.ui.autoscrollable.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}aacore/js/jquery.ui.playlist.js"></script>
<script src="{{ STATIC_URL }}aacore/js/aa.view.js"></script>
<script src="{{ STATIC_URL }}lib/shortcut.js"></script>   
<script src="{{ STATIC_URL }}aacore/js/jquery.caret.js"></script>   

{% for css in extra_css %}
<link rel="stylesheet" href="{{ css }}" type="text/css" media="screen" charset="utf-8">
{% endfor %}
{% endblock %}


{% block body %}
<nav id="toolbar">
    <ul>
        {% if page %}
        <li><a href="/">oral site</a></li>
        <!--<li><label for="hide">hide decorations</label><input type="checkbox" name="hide" value="" id="hide" /></li>-->
        <li><a href="{{ page.get_edit_url }}">edit page</a></li>
        <li><a href="{{ page.get_history_url }}">view history</a></li>
        {% endif %}
    </ul>
</nav>

<article>
    {{ content|safe }}
</article>
{% endblock %}

{% block postbody %}
<nav id="east-pane" class="ui-layout-east" style="display: none; text-align: left;"> 
    <ul>
        <li><a href="#tabs-2" style="font-size: 22px; padding: 0 11px 1px;">∢</a></li>
        <li><a href="#tabs-1">?</a></li>
    </ul>
    <div id="tabs-1">
        {% include "aacore/partials/markdown_help.html" %}
    </div>
    <div id="tabs-2">
    </div>
</nav>
{% endblock %}
