{% extends "aacore/page_sarma.html" %}
{% load filters %}
{% load markup %}
{% block head %}
<style>
p.meta { display: none; }
</style>
{% endblock head %}

{% block content %}
<div id="content" about="{{rel.url}}">

<h2 property="dc:title">{{rel.name}}</h2>
<p class="meta">
<a rel="rdf:type" href="http://activearchives.org/terms/rel">rel</a>
<span property="aa:relPlural">{{rel.name_plural}}</span>
<span property="aa:relSort">{{rel.order}}</span>
</p>
<div class="rel_listing" style="-moz-column-count: 3">
<ul>
{% for result in results %}
<li><a href="{{result.o|rdfnode}}">{{result.o|rdfnode_fix_pagenames}}</a></li>
{% endfor %}
</ul>
</div>
</div>
{% endblock content %}

