<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
          "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">			 
<html>
<head>
<title>{% block title %}active archives{% endblock %}</title>
<style type="text/css" media="screen">

</style>
</head>
<body>
<form method="post" action="">{% csrf_token %}
<div>
<textarea style="width: 640px; height: 320px" name="text">{{text}}</textarea>
</div>
<div>
<input type="submit" />
</div>
</form>

{% if result %}
<div>
{{ result|safe }}
</div>
{% endif %}

</body>
</html>

