<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
          "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">			 
<html 
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:xs="http://www.w3.org/2001/XMLSchema#"
    xmlns:dc="http://purl.org/dc/terms/"
	xmlns:foaf="http://xmlns.com/foaf/0.1/"
	xmlns:vcard="urn:ietf:rfc:2426#"
	xmlns:aa="http://activearchives.org/terms/">
	<head>
		<title>{% block title %}active archives{% endblock %}</title>

<style type="text/css" media="screen">
.aa-annotation {
    padding: 5px;
    border: 1px solid black;
    margin-bottom: -1px;
}
*[property] {
    color: green;
}
</style>
</head>
<body>
<form method="get" action="">
<input style="width: 480px; border: 1px solid black" type="text" name="url" value="{{url}}" />
<input type="submit" />
</form>
<h2>{{url}}</h2>
{% for annotation in annotations %}
<div class="aa-annotation" about="{{url}}">{{ annotation|safe }}</div>
{% endfor %}
</body>
</html>
