<span> 
    <a href="#" id="in">+</a> 
    <a href="#" id="out">-</a> 
    <a href="#" id="fit">fit</a> 
    <a href="#" id="orig">orig</a> 
    <a href="#" id="update">update</a> 
</span> 

<div id="viewer" class="viewer" style="width:300px; height:300px; position:relative; border:1px solid black"></div>
<script src="http://test.dpetroff.ru/jquery.iviewer/test/jquery.mousewheel.min.js"></script>
<script src="http://test.dpetroff.ru/jquery.iviewer/jquery.iviewer.js"></script>
<script>
(function ($) {
    window.setTimeout(function() {
        $("#viewer").each(function () {
            var $this = $(this);
            $this.iviewer({
                src: "{{ resource.url }}", 
                update_on_resize: false,
                zoom: 200,
                onFinishLoad: function() {
                    $("#viewer").data('iviewer').setCoords(-500,-500);
                },
            });
            $("#fit").click(function () { $this.iviewer("fit"); });
            $("#in").click(function () { $this.iviewer("zoom_by", 1); });
            $("#out").click(function () { $this.iviewer("zoom_by", -1); });
            $("#orig").click(function () { $this.iviewer("set_zoom", 100); });
            $("#update").click(function () { $this.iviewer("update_container_info"); });
        });
    }, 2500);

})(jQuery);

</script>
