@font-face {
    font-family: 'LatinModernMono';
    src: url('../../aacore/static/lib/fonts/lmmono10-italic-webfont.eot');
    src: url('../../aacore/static/lib/fonts/lmmono10-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../aacore/static/lib/fonts/lmmono10-italic-webfont.woff') format('woff'),
         url('../../aacore/static/lib/fonts/lmmono10-italic-webfont.ttf') format('truetype'),
         url('../../aacore/static/lib/fonts/lmmono10-italic-webfont.svg#LatinModernMono10Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatinModernMono';
    src: url('../../aacore/static/lib/fonts/lmmono10-italic-webfont.eot');
    src: url('../../aacore/static/lib/fonts/lmmono10-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../aacore/static/lib/fonts/lmmono10-italic-webfont.woff') format('woff'),
         url('../../aacore/static/lib/fonts/lmmono10-italic-webfont.ttf') format('truetype'),
         url('../../aacore/static/lib/fonts/lmmono10-italic-webfont.svg#LatinModernMono10Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'LiberationSans';
    src: url('../../aacore/static/lib/fonts/LiberationSans-Regular-webfont.eot');
    src: url('../../aacore/static/lib/fonts/LiberationSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../aacore/static/lib/fonts/LiberationSans-Regular-webfont.woff') format('woff'),
         url('../../aacore/static/lib/fonts/LiberationSans-Regular-webfont.ttf') format('truetype'),
         url('../../aacore/static/lib/fonts/LiberationSans-Regular-webfont.svg#LiberationSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LiberationSans';
    src: url('../../aacore/static/lib/fonts/LiberationSans-Italic-webfont.eot');
    src: url('../../aacore/static/lib/fonts/LiberationSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../aacore/static/lib/fonts/LiberationSans-Italic-webfont.woff') format('woff'),
         url('../../aacore/static/lib/fonts/LiberationSans-Italic-webfont.ttf') format('truetype'),
         url('../../aacore/static/lib/fonts/LiberationSans-Italic-webfont.svg#LiberationSansItalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'LiberationSans';
    src: url('../../aacore/static/lib/fonts/LiberationSans-Bold-webfont.eot');
    src: url('../../aacore/static/lib/fonts/LiberationSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../aacore/static/lib/fonts/LiberationSans-Bold-webfont.woff') format('woff'),
         url('../../aacore/static/lib/fonts/LiberationSans-Bold-webfont.ttf') format('truetype'),
         url('../../aacore/static/lib/fonts/LiberationSans-Bold-webfont.svg#LiberationSansBold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'LiberationSans';
    src: url('../../aacore/static/lib/fonts/LiberationSans-BoldItalic-webfont.eot');
    src: url('../../aacore/static/lib/fonts/LiberationSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../aacore/static/lib/fonts/LiberationSans-BoldItalic-webfont.woff') format('woff'),
         url('../../aacore/static/lib/fonts/LiberationSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../../aacore/static/lib/fonts/LiberationSans-BoldItalic-webfont.svg#LiberationSansBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;

}

div#slider {
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
    height: 0;
    border: 1px solid white;
    z-index: 2;
}

div#slider a {
    background-color: white;
    border: 0px solid white;
    height: 10px;
    width: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

span#time {
    position: absolute;
    bottom: 1em;
    right: 1em;
    z-index: 2;
}

div#controls {
    position: absolute;
    bottom: 1em;
    left: 1em;
    z-index: 999;
}

div#controls span#play,
div#controls span#pause {
    cursor: pointer;
}

body {
    background-color: black;
    color: white;
    overflow: hidden;
}

img {

    max-width: 100%;
}

nav, h1, h2 {
    display: none;
}

article {
    position: absolute;
    top: 3em;
    left: 0;
    bottom: 3em;
    right: 0;
}

.section1 .section2 {
    text-align: center;
    /*font-family: "Latin Modern Roman Unslanted";*/
    font-family: "Latin Modern Roman Unslanted";
    font-family: "LiberationSans";
    font-weight: bold;
    letter-spacing: 0.05em;
    display: none;
    text-align: center;
    font-size: 2em;
    line-height: 1.3;
}

em {
    font-family: "LatinModernMono";
    font-style: italic;
}

section.section1 { 
    display: table; 
    table-layout: fixed;
    /*border: 1px solid red;*/
    height: 100%;
    width: 100%;
}
section.section1 > div.wrapper { 
    display: table-row; 
    /*border: 1px solid green;*/
    width: 100%;
    height: 100%;
}
section.section2 { 
    display: table-cell; 
    /*border: 1px solid blue;*/
    vertical-align: middle;
    text-align: center;
    padding: 0 auto;
    width: 100%;
    height: 100%;
}
section.align-left section.section2 { 
    text-align: left;
}
section.top section.section2 { 
    vertical-align: top;
}
section.bottom section.section2 { 
    vertical-align: bottom;
}
section.smaller section.section2 * { 
    zoom: 70%;
}
section.bla section.section2 div.wrapper { 
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
section.bla { 
    z-index: 9999;
}
section.section2 div.wrapper {
    max-width: 30em;
    /* border: 1px solid yellow; */
    margin: 0 auto;
    padding: 0.5em;
}
section.align-left section.section2 div.wrapper {
    max-width: 100%;
    /* border: 1px solid yellow; */
    margin: 0 0;
    padding: 0.5em;
}

.foo {
    position: absolute;
}
