{% extends "rdfviews/base.html" %}
{% load aacoretags %}

{% block title %}rdf: browse{% endblock %}

{%block head %}
<script type="text/javascript" language="javascript" charset="utf-8">
    window.onload = function () { document.getElementById("uri").focus() }
</script>
<link rel="stylesheet" href="{{STATIC_URL}}aacore/css/aa.rdfbrowser.styles.css" type="text/css" media="screen" title="no title" charset="utf-8" />
{% endblock %}

{%block body %}
<div id="query">
    <form method="post" action="">{% csrf_token %}
        <div>
            <input name="uri" id="uri" style="width: 80%;" value="{{uri}}" />
            <input type="submit" name="_submit" value="browse" />
            <input type="submit" name="_submit" value="goto" />
        </div>
    </form>
</div>

<div id="results">
<table>
<tr>
    <td>
        {% if results_as_subject.get_bindings_count %}
        <div class="rdfbox">
        {% regroup results_as_subject by relation as grouped %}
        <ul>
            {% for relation in grouped %}<li>{{ relation.grouper|rdfviewslink }}</li>
            <ul>
                {% for item in relation.list %}<li>{{ item.object|rdfviewslink}}</li>{%endfor%}
            </ul>
        {%endfor%}
        </ul>
        </div>
        {% endif %}
    </td>
    <td>
        {% if results_as_relation.get_bindings_count %}
        <h2>as relation</h2>
        <table>
        {% regroup results_as_relation by subject as grouped %}
        {% for subject in grouped %}<tr>
            <td>{{ subject.grouper|rdfviewslink }}</td>
            <td><ul>{% for item in subject.list %}<li>{{ item.object|rdfviewslink}}</li>{%endfor%}</ul></td>
        </tr>
        {%endfor%}
        </table>
        {% endif %}

        {% if results_as_object.get_bindings_count %}
        <h2>backlinks (as object)</h2>
        <table>
        {% regroup results_as_object by relation as grouped %}
        {% for relation in grouped %}
        <tr>
            <td><ul>{% for item in relation.list %}<li>{{ item.subject|rdfviewslink}}</li>{%endfor%}</ul></td>
            <td>(relation: {{ relation.grouper|rdfviewslink }})</td>
        </tr>
        {%endfor%}
        </table>
        {% endif %}
    </td>
</tr>
</table>

</div>
{%endblock %}


