{%extends "rdfviews/base.html" %}
{% load aacoretags %}

{%block title %}rdf: query{% endblock %}

{%block head %}
<script type="text/javascript" language="javascript" charset="utf-8">
    window.onload = function () {
        document.getElementById("querytextarea").focus();
    }
</script>
{% endblock %}

{%block body %}
<div id="query">
<form method="post" action="">{% csrf_token %}
<div>
    <textarea name="query" id="querytextarea" style="width: 100%; height: 200px">{% if query %}{{ query }}{% else %}
{% for ns in namespaces %}PREFIX {{ ns.name}}:<{{ns.url }}>
{% endfor %}
SELECT ?doc ?title
WHERE {
  ?doc dc:title ?title .
}
ORDER BY ?title
{% endif %}</textarea>
</div>
<input type="submit" name="_submit" value="QUERY" />
</form>
</div>

{% if results %}
<div id="results">
<table border="1">
<tr>{% for binding in bindings %}<th>{{ binding }}</th>{% endfor %}</tr>
{% for row in rows %}
<tr>{% for value in row %}<td>{{ value|rdfnode }}</td>{% endfor %}</tr>
{% endfor %}
</table>
</div>
{% endif %}
{% endblock %}


